p{
    background-color: thistle;
    padding: 20px;
    margin: 10px;
}
h2{
    text-decoration:overline underline;
    margin: 10px
}
li{
    font-size: smaller;
}
h3{
    text-decoration: underline black;
}